@import "reset";

h1 {
  color:#000;
  font-weight: lighter;
  font-kerning: normal;
  line-height: 0.5em;
  .subtitle{
    font-size: 0.5em;
  }
}

h2 {
  color:#000;
  font-weight: lighter;
  border-bottom-color:#ccc;
}

h3 {
  color:#888;
}

pre {
  border-color:#ccc;
}

code {
  color:#888;
}

blockquote {
  font-size:2em;
  font-style:italic;
  padding:1em 2em;
  color:#000;
  border-left:5px solid #ccc;

  p {
    margin:0;
  }

  cite {
    font-size:.5em;
    font-style:normal;
    font-weight:bold;
    color:#888;
  }
}

::-moz-selection{ background:#c00; color:#fff; }
::selection { background:#c00; color:#fff; }

a {
  &, &:hover, &:focus, &:active, &:visited {
    color:#c00;
    text-decoration:none;
  }

  &:hover, &:focus {
    text-decoration:underline;
  }
}

.deck-container {
  font-family: aktiv-grotesk, 'helvetica neue', helvetica, arial, sans-serif;
  font-size:1.75em;
  background:#fff;

  > .slide {
    padding:0 48px;
  }
}

.slide {
  .deck-before, .deck-previous {
    opacity:0.4;

    &:not(.deck-child-current) {
      .deck-before, .deck-previous {
        opacity:1;
      }
    }
  }

  .deck-child-current {
    opacity:1;
  }
}

.deck-prev-link, .deck-next-link {
  background:#ccc;
  font-family:serif;

  &, &:hover, &:focus, &:active, &:visited {
    color:#fff;
  }

  &:hover, &:focus {
    background:#c00;
    text-decoration:none;
  }
}

.deck-status {
  font-size:0.6666em;
}

.deck-menu {
  .slide {
    background:#eee;
  }

  .deck-current, .no-touch & .slide:hover {
    background:#ddf;
  }
}

.intro {
  background: linear-gradient(to right, rgba(255,50,50,0.54) 0%,rgba(255,255,48,0.54) 18%,rgba(40,255,40,0.54) 35%,rgba(40,252,248,0.54) 52%,rgba(40,55,255,0.54) 69%,rgba(233,40,255,0.53) 85%,rgba(255,137,139,0.53) 100%); /* W3C */
  .logo{
    width:300px;
  }
}

.dark {
  color:#FFF;
  background-color: #000;
}

@mixin background-cover($img_url: 'summit-bg.jpg',$opacity: 0.5,$props: no-repeat center center fixed){
  &::after {
    content: "";
    background: url('../../images/#{$img_url}') $props;
    background-size: cover;
    opacity: $opacity;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

.overview {
  @include background-cover;
}

.hasselhoff {
  @include background-cover('hasselhoff-computer.gif');
}

.wat-horse {
  @include background-cover('wat-horse.jpg');
}

.questionmark {
  @include background-cover('questionmark.gif');
  &::after {
    transition: all 2s linear 1s;
  }
  &:hover{
    &::after{
      opacity:1;
    }
  }
}

.build {
  @include background-cover('alex_grunt_build.gif',0.25);
}
.blinky {
  @include background-cover('blinky.gif',1);
}
.bored {
  @include background-cover('bored.gif',1);
}
.babel {
  @include background-cover('babel-logo.png',1);
}
.babel-fade {
  @include background-cover('babel-logo.png',0.15);
}
.dog-chase-tail {
  @include background-cover('dog-chase-tail.gif',1);
}
.dog-vacuum {
  @include background-cover('dog-vacuum.gif',1);
}
.panda-rage {
  @include background-cover('panda-rage.gif',1);
}
.one-does-not {
  @include background-cover('babel_meme.jpg',1);
}
.jon-why {
  @include background-cover('jonwhy.gif',1);
}
.states-and-nomads {
  @include background-cover('statesandnomads.png');
}
.states-and-nomads-fade {
  @include background-cover('statesandnomads.png',0.25);
}
.hoverboard{
  @include background-cover('hoverboard.gif');
}
.johnny-five{
  @include background-cover('heres-johnny.png',0.25);
}
.raspberry-pi{
  @include background-cover('pi.jpg',0.25);
}
.react-es6{
  @include background-cover('react-es6.png',1);
}
.butterflies{
  @include background-cover('butterflies.mp4',1);
}
